{% load static %}

<!-- jquery -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

<!-- bootstrap javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


<!--wow js-->
<script src="{% static 'js/wow/wow.min.js' %}"></script>

<!--magnific-popup js-->
<script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!--owlcarousel js-->
<script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>

<!--counterup js-->
<script src="{% static 'js/counter/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/counter/jquery.counterup.min.js' %}"></script>





<!-- custom javascript -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>