/**************************************************
    Default Value :
    Font Family     : Barlow Semi Condensed
    Greenish Blue   : #34c6d3 (button, icon, link)
    Steel Gray      : #41464b (Headings)
    Blue Bayoux     : #64707b (Paragraphs)
    White           : #fff (text, background)
    Black           : #000
***************************************************/


html, body {
    height : 100%;
}


body {

    font-family:'BM JUA','배달의민족 주아',sans-serif;

}

p {
    color : #64707b ;
    font-size : 16px ;
    font-weight : 300;
    }

h3 {
    color:#41464b ;
    text-transform : uppercase;
    }



/* CSS - just for Grid Example */

.col-1 {
    background-color : red;
}

.col-2 {
    background-color : green;
}

.col-3 {
    background-color : blue;
}

.col-4 {
    background-color : yellow;
}

/**************************************************
                    none
***************************************************/

#home {
    height : 100%;
}

#home-cover {
    height : 100%;
    width : 100%;
    background-color : black;
}

#home-content-box {
    width : 100%;
    height : 100%;
    display : table;
}

#home-content-box-inner {
    display : table-cell;
    vertical-align : middle;
    /*text-align : center;*/
    }

#home-heading h3 {
    color : #fff ;
    font-size : 55px;
    font-weight : 700;
    margin : 20px 0 20px 0 ;
    text-transform  :uppercase ;
    }


/**************************************************
                 button
***************************************************/

.btn-general {
    border-color : #fff;
    border-width : 2px;
    border-radius : 0;
    padding : 12px 26px 12px 26px;
    font-weight : 400;
    text-transform : uppercase ;
}

.btn-white {
    border-color : #fff;
    color : #fff;
}

.btn-white:hover, .btn-white:focus{
    background-color : #fff ;
    color : #41464b;
}

.btn-blue {
    border-color : #34c6d3;
    color : #34c6d3;
}

.btn-blue:hover, btn-blue:focus{
    background-color : #34c6d3;
    color : #fff;
    }

/**************************************************
                animate
***************************************************/

#home-cover,
#home-heading,
#home-btn, {
    animation-duration : .5s;}

#home-cover {
    animation-delay : .1s;
    }

#home-heading {
    animation-delay : .5s;
    }

#home-btn {
    animation-delay : 1s;
}


/**************************************************
                Parallax
***************************************************/


.bg-parallax {
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    background-attachment : fixed;
    }


/**************************************************
               services
***************************************************/
.content-box {
    padding : 60px 0 60px 0 ;
    }

.content-title h3 {
    font-size : 30px ;
    font-weight : 700;
    text-align : center ;
    margin : 0 0 30px 0;
    }

.content-title-white h3 {
    color : #fff ;
    }

.content-title-underline {
    width : 440px;
    height : 3px;
    background-color: black;
    margin : 0 auto 0 auto;
    }


.service-item {
    padding : 20px 0 20px;
    margin-bottom : 20px;
    cursor_ : pointer ;
}

.service-item-icon {
    color : #34c6d3;
    padding : 15px;
    margin-right : 25px;
    width : 75px;
    height : 75px;
    text-align : center;
    float : left;
    }

.service-item:hover .service-item-icon i {
    color : #fff ;
    background-color : #34c6d3 ;

}

.service-item-title h3 {
    font-size : 20px;
    font-weight : 200;
    margin : 0 0 10px 0;
    }

.service-item-desc p {
    margin : 0;
    padding-left : 85px;
        }

/**************************************************
              about
***************************************************/
#about-content-box {
    float : left;
    height : 700px;
    }

#about-content-box-outer {
    width : 100%;
    height : 100%;
    display : table;
    }

#about-content-box-inner {
    display : table-cell;
    vertical-align : middle;
    }

#about .content-title h3{
    text-align : left;
    }

#about .content-title .content-title-underline {
    margin : 0 0 30px 0;
    }

#about-desc p {
    margin-bottom : 30px;
}

#about-bg-diagonal {
    width : 60%;
    height : 700px;
    float : right;
    background-image : url(../img/bg-about.jpg);

    border-left : 200px solid #fff;

    border-top : 700px solid transparent;
}


/**************************************************
           work
***************************************************/

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;

}



.img-wrapper {

   width : 500px;
   height : 300px;

   }


.img-wrapper2 {
   overflow : hidden;
   width : 300px;
   height : 200px;
   margin-left : 20px;
   }


.img-wrapper3 {
   overflow : hidden;
   width : 100%;
   height : 100%;
   display : inline-block;
   padding-left : 125px;
   }

/*

.img-wrapper img {
    transition : transform .5s ease;
    }
*/
/*
.img-wrapper img:hover {
    transform : scale(1.5);
    }*/




/**************************************************
           Team
***************************************************/

.team-member {
    margin : 0 15px ;
    }

.team-member-info {
    padding : 10px 0 30px 0;
    }

h4.team-member-name {
    font size : 22px;
    font-weight : 700;
    letter-spacing : 1px;
    padding-top : 2px;
    }

h4.team-member-designation {
    color : #34c6d3;
    font-size : 15px;
    font-style : italic;
    font-weight : 700;
    letter-spacing : 1px;
    margin-top : 5px;
    }


/**************************************************
           SOCIAL ICONS
***************************************************/
.social-list {
    padding-left: 0;
    }


.social-list li {
    list-style : none;
    display : inline-block;
    width : 32px;
    height : 32px;
    margin-right : 6px;
    margin-top : 10px;
    }

.social-icon i {
    font-size : 17px;
    }

.icon-gray i {
    color : #64707b;
    }

.icon-white i {
    color : #fff;}

.social-icon i:hover {
    color : #34c6d3;
    }


/**************************************************
         testimonials
***************************************************/

#testimonials-cover {

}

#testimonials .content-box {
    background-color : rgba(0,0,0, 0.1);
    }


#customers-testimonials {
   height : 100%;
   width : 100%;
   }

.testimonial img {
    width : 100px;
    height : 780px;
    margin: 0 auto 0 auto;}

.testimonial blockquote {
    border : 0;
    font-family : Georgia, sans-serif;
    font-style : italic;
    color: #fff;
    padding : 6px 150px;
    position : relative;
    }



.testimonial blockquote p {
    color: #fff;
    }

.testimonial blockquote::before {
    content : "\201C" ;
    top : 0;
    left : 100px;
    }

.testimonial blockquote::after {
    content : "\201D";
    bottom : 0;
    right : 100px;
    }

.testimonial blockquote::before,
.testimonial blockquote::after {
    font-size : 80px;
    font-style : normal ;
    line-height : 1;
    width : 30px;
    height: 30px;
    position : absolute;
    }

.testimonial-author p {
    color : #fff;
    font-size : 17px;
    }

.testimonial-author p strong {
    display : block;
    }


/**************************************************
           price
***************************************************/
.pricing-box {
    border : 3px solid #34c6d3;
    padding : 50px 0 ;
    margin : 40px 0 ;}

h4.pricing-title {
    background-color : #34c6d3;
    color : #fff;
    display : inline-block;
    padding : 7px 15px;
    font-size : 14;
    font-weight : 700;
    margin : 0 0 30px 0;
    }

h4.pricing-value {
    font-size : 60px;
    font-weight : 700;
}

h4.pricing-value sup {
    font-size 28px;
    font-weight : normal;
    vertical-align : super;
    }

ul.pricing-spec {
    list-style : none;
    padding-left : 0;
    margin : 20px 0 60px 0;
    }

ul.pricing-spec li p{
    font-weight : 400;
    text-transform : uppercase;
    }

.pricing-box-lg {
    padding : 90px 0;
    margin : 0;
    background-color : #34c6d3;}

.pricing-box-lg h4.pricing-title{
    color : #34c6d3;
    background-color : #fff;
    }

 .pricing-box-lg ul.pricing-spec-li p {
    color : #fff;
    }


/**************************************************
            stats
***************************************************/

#stats-cover {
    background-image : url("../img/bg-stats.jpg");
    }

#stats .content-box {
    background-color : rgba(0,0,0,0.4);
    }

.stats-item {
    padding : 100px;
    }

.stats-item i {
    color: #34c6d3;
    }

.stats-item h2 {
    color : #fff;
    font-size : 35px;
    font-weight : 700;
    margin-top : 15px;
    margin-bottom : 1px;}

.stats-item p {
    color : #fff;
    text-transform : uppercase;
    font-weight : 300;
    margin-top : 0;
    }



/**************************************************
            clients
***************************************************/

.client {

}

    /*
    }
}

.abc {
    text-weight : bold;}*/


/**************************************************
            contact
***************************************************/

footer {
    background-color : black;
    padding-top : 30px;
    border-top : 5px; solid rgba(0,0,0 0.1);
    }

#contact-left h3 {
    color : #fff ;
    font-size : 27px;
    font-weight : 700;

    }

#contact-left p {
    color : #Fff;
    margin-bottom : 30px;
    }


#contact-info {

    background-repeat : no-repeat;
    background-size : contain;
}

address {
    color : #fff;
    }

address strong,
#phone-fax-email{
    letter-spacing : 1px;
    }

#contact-left h3,
#contact-right h3 {
    color : #fff;
    font-size : 27px;
    font-weight : 700;
    }

form {
    margin-bottom : 20px;}

form .form-control {
    background : transparent;
    border-radius : 0;
    border-color : #fff;
    font-size : 17px;
    font-weight : 300;
    padding : 8px 16px ;
    margin-bottom : 20px;
    color : black;
    }


/**************************************************
           footer bottom
***************************************************/

#footer-bottom {
    background-color : rgba(0,0,0. 0.1);
    padding : 30px 0;
    margin-top : 60px;
    }

#footer-copyrights p {
    margin : 0;
    color : #fff;
    }

#footer-menu {
    float : left;
    color : #fff;
    font-size : 16px;
    font-weight : 300;
    }

#footer-menu ul {
    list-style : none;
    padding-left : 0;
    margin : 0;
    }

#footer-menu ul li {
    display : inline-block;
    }

#footer-menu a {
    color : #fff;
    font-size : 16;
    font-weight : 300;
    margin : 0; 10px;
    text-decoration : none;
    }

#footer-menu a:hover {
    color : #34c6d3;
}

.car-image {
    width : 100%;
    height : 100%;
    }

.work-ul {
    margin-top : 50px;
    margin-left : 80px;
    }

.work-ul li {
    list-style : none;
    display : inline-block;
    }

.cal-con {
    height : 100%;
    }

.sample-ul li {
    list-style : none;
    display : inline-block;
    }

.work1 {
    width : 300px;
    height : 200px;
    }

.work-logo {
    width : 300px;
    height : 200px;
    }

.sub-div {
    width : 300px;
    height : 200px;
    display : inline-block;
    }

.detail-div {
    text-indent : 30px;
    }

.detail-text {
    margin-left : 30px;
    }

.sub-text {
    margin-left : 20px;
    }

.bot-img {
    width : 100%;
    height : 100%;
    }

.bot-detail {
    margin-top : 20px;
}

.bot-underline {
    margin : 0;
    width : 500px;
    }

.li-nav {
    margin-left : 60px;}