{% extends 'base.html' %}
{% load static %}
{% block content %}


<section id="home">
    <div id="home-cover" class='bg-parallax animated fadeIn'>

        <div id="home-content-box">
            <div id="home-content-box-inner" class='text-center'>

                <div id="home-heading" class="animated bounceInDown">
                    <h3>Watch Out<br/> The Modern responsive Website</h3>
                </div>
                <div id="home-btn" class="animated zoomIn">
                    <a class="btn btn-lg btn-general btn-white" href="#work" role="button">View Our work</a>
                </div>
            </div>
        </div>

    </div>

{% end content %}